<!DOCTYPE html>
<html ng-app="BDAP">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="application.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js"></script>
    <script type="text/javascript" src="angularjs-1.2-animate-app.js"></script>
    <!--<script src="http://code.angularjs.org/1.1.5/angular.js"></script>-->
    <script type="text/javascript" src="controllers.js"></script>
    <script type="text/javascript" src="htpps://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-animate.min.js"></script>
    <script src="js/animations.js"></script>
  </head>
    <nav class="navbar navbar-inverse navbar-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">Big Data Agile Porfolio</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left"> 
            <li><a href="#home">BDAP</a></li>
            <li><a href="#">PMT List Selection</a></li>
            <li><a href="#contact">Shopping Cart</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  <br>
  <body ng-controller="PMTController as list">

    <div class="container-fluid">
      <div class="row">
      <div class="col-md-2 col-md-offset-1">
        Search: <input ng-model="query" >
        <br>
        <br>
        See Only:
        <select ng-model="category" ng-init="All">
          <option value="All">All</option>
          <option value="Fire">Fire</option>
          <option value="Water">Water</option>
        </select>
        <br>
        <br> 
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Fire</option>
          <option value="type">Water</option>
          <option value="rank">Rank</option> 
        </select>
      </div>
        <div class="col-md-4">
          <!--Body content-->

          <ul class="phones"> 
            <li ng-repeat="pmt in list.pmt | filter:query | sort:category | orderBy:orderProp" class="thumbnail phone-listing" >
            <a href="{{pmt.wiki}}" class="thumb"><img ng-src="{{pmt.imageUrl}}"></a>
             <a href="{{pmt.wiki}}">{{pmt.name}}</a>
              <p>Rank {{pmt.rank}}</p>
              <p>Type {{pmt.type}}<p>
            </li>
          </ul>

        </div>
      </div>

    </div>

  <body>